
@{
    ViewBag.Title = "Raspberry";

}
@using IssueManagementSystem.Models;
@using System.Web.UI.WebControls;
@using System.Web.UI;
@model List<IssueManagementSystem.Models.issue_occurrence>
@{ string lineName = null; string map = null; }
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Display/jquery.totemticker.js"></script>
<link href="~/Content/Display/style.css" rel="stylesheet" />
<link href="~/Content/Display/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Display/displaystyles.css" rel="stylesheet" />
@{
    using (issue_management_systemEntities1 db = new issue_management_systemEntities1())
    {
        int id = ViewBag.id;
        var lineinfo = db.lines.Where(x => x.line_id == id).FirstOrDefault();
        lineName = lineinfo.line_name;
        var mapinfo = db.line_map.Where(x => x.line_id == id).FirstOrDefault();
        map = mapinfo.map;
    }
}

<div style="display:flex">
    <div style="display:inline-grid;grid-template-columns: 50%  50%">
        <div id="container">
            <canvas id="canvas1" style="border: 1px solid black;margin-left:2em;background:url('../../Content/images/RCPDF1.jpg');background-size: 100% 100%;" width="250" height="750">
                <br> This text is displayed if your browser does not support HTML5 Canvas. </br>
            </canvas>
        </div>

        <label id="map" style="display: none;"> @map</label>
    </div>


    <div class="container-fluid margin">
        <div class="displayhedding" style="margin-top:-20pt">
            <div class="row">
                <div class="col-lg-5">
                    <div class="header__logo">
                        <a href="#">
                            <img src="~/Content/images/logo.png" alt="CoolAdmin" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 text-left">
                    <h3>@lineName Manufacturing Cell</h3>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-sm-11" style="margin:20pt">
                <div id="wrapper">
                    <ul id="vertical-ticker">
                        <li id="brake_list">
                            <div class="card text-white bg-danger mb-3" style="max-width:80rem;" id="brakediv">
                                <div class="card-header">Machine Breakdown</div>
                                <div class="card-body" id="breakediv">
                                    <table class="table" style="max-width:80rem;color:white">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Machine</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible person</th>

                                            </tr>
                                        </thead>
                                        <tbody id="breake_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="maririal_list">
                            <div class="card text-white bg-warning mb-3" style="max-width: 80rem;" id="maririaldiv">
                                <div class="card-header">Matirial Delay</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:80rem;color:black">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Matirial</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible person</th>

                                            </tr>
                                        </thead>
                                        <tbody id="matirial_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="tecnical_list">
                            <div class="card text-white bg-success mb-3" style="max-width: 80rem;" id="tecnicaldiv">
                                <div class="card-header">Technical Issue</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:80rem;color:white">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Machine</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible person</th>

                                            </tr>
                                        </thead>
                                        <tbody id="technical_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="IT_list">
                            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;" id="Softwarediv">
                                <div class="card-header">IT/Software Issue</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:80rem;color:white;min-width:30rem;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>

                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible person</th>

                                            </tr>
                                        </thead>
                                        <tbody id="it_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>




            <script src="~/Scripts/3.30bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
            <script src="~/Scripts/moment.min.js"></script>
            <script src="~/signalr/Hubs"></script>



            <script>
    $(document).ready(function () {

        // Proxy created on the fly
        var hub = $.connection.issueHub;
        var issueCount = 0;

        // Declare a function on the hub hub so the server can invoke it
        hub.client.displayStatus = function () {

            getData();
        };

        // Start the connection
        $.connection.hub.start();
        getData();

        function getData()
        {

             var url = '@Url.Action("GetIssues", "Supervisor")'

            $.ajax({
                url: url,
                    type: 'GET',
                    datatype: 'json',
                success: function (issuedata) {
                    $('#breake_body').empty();
                    $('#matirial_body').empty();
                    $('#technical_body').empty();
                    $('#it_body').empty();
                    $('#brakediv').hide();
                    $('#maririaldiv').hide();
                    $('#Softwarediv').hide();
                    $('#tecnicaldiv').hide();





                    issuedata = $.parseJSON(issuedata);
                    if (issuedata.length > 0) {





                        blinkMap();
                        for (var i = 0; i < issuedata.length; i++) {


                            if ((issuedata[i].line_line_id==@ViewBag.Id) && (issuedata[i].issue_satus=="1" )) {
                                var responcibleperson_ststus= issuedata[i].responsible_person_confirm_status
                                var issueid = issuedata[i].issue_issue_ID

                                var date = issuedata[i].issueDate.split(' ');
                                var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
                                var issue_occurrence_id = issuedata[i].issue_occurrence_id

                                if (issueid == 1)//breakedown
                                {
                                    $('#brakediv').show()
                                    var divissue = $('#breake_body');
                                    var issue = '<tr><td>' + day + '</td><td>' + issuedata[i].machine_machine_id+'</td><td>' + issuedata[i].description+'</td><td>' + issuedata[i].responciblepersonName+'</td></tr>'
                                    divissue.append(issue)
                                    divissue.show('slow');
                                }
                                if (issueid == 2)//Material Delay
                                {
                                    $('#maririaldiv').show()
                                    var divissue = $('#matirial_body');
                                    var issue = '<tr><td>' + day + '</td><td>' + issuedata[i].matirial + '</td><td>' + issuedata[i].description + '</td><td>' + issuedata[i].responciblepersonName + '</td></tr>'
                                    divissue.append(issue)
                                    divissue.show('slow');
                                }
                                if (issueid == 3)//Technical Issue
                                {
                                    $('#tecnicaldiv').show();
                                  var divissue = $('#technical_body');
                                    var issue = '<tr><td>' + day + '</td><td>' + issuedata[i].machine_machine_id + '</td><td>' + issuedata[i].description + '</td><td>' + issuedata[i].responciblepersonName + '</td></tr>'

                                    divissue.append(issue)
                                   divissue.show('slow');
                                }
                                //if (issueid == 4)//Quility
                                //{
                                //    var divissue = $('#qu');
                                //    issue = '<div class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--blue"><span class="desc" style="color:white">Qulity Issue</span><div class="icon" ><i class="zmdi zmdi-brightness-auto"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><p class="card-text"><strong>IssueDate : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</p><div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                //    divissue.append(issue)
                                //    divissue.show('slow');
                                //}
                                if (issueid == 5)//IT/Software
                                {
                                    $('#Softwarediv').show();
                                    var divissue = $('#it_body');
                                    var issue = '<tr><td>' + day + '</td><td>' + issuedata[i].description + '</td><td>' + issuedata[i].responciblepersonName + '</td></tr>'

                                    divissue.append(issue)
                                    divissue.show('slow');
                                }









                            }



                        }


                    }
                }, error: function (r, e, w) {
                }
            });
        }

    })
            </script>
            <script type="text/javascript">


            function init() {
                var s = new CanvasState(document.getElementById('canvas1'));

                setInterval(function () {
                    //console.log(globalvariable);
                    if (globalvariable == 0) { globalvariable = 1; }
                    else { globalvariable = 0; }
                }, 100);

                  var url = '@Url.Action("getBlinkingMachinesList", "Display")'
                $.ajax({
                    type: "POST",
                    dataType: 'text',
                    url: url,
                    data: { line: '5' },
                    success: function (line_data) {
                        var obj = JSON.parse(line_data);
                        console.log(obj);
                        set_blinking_machines(obj);
                    },
                    error: function () {
                        alert("Error occurred");
                    }
                });

            }

            function blinkMap() {
                 var url = '@Url.Action("getBlinkingMachinesList", "Display")'
                $.ajax({
                    type: "POST",
                    dataType: 'text',
                    url: url,
                    data: { line: @ViewBag.id },
                    success: function (line_data) {
                        var obj = JSON.parse(line_data);
                        console.log(obj);
                        set_blinking_machines(obj);
                    },
                    error: function () {
                        alert("Error occurred");
                    }
                });
            }
            $(function () {
                $('#vertical-ticker').totemticker({
                    row_height: '100px',
                    next: '#ticker-next',
                    previous: '#ticker-previous',
                    stop: '#stop',
                    start: '#start',
                    mousestop: true,
                });
            });
             
           setTimeout(function(){
           window.location.href = "http://192.168.1.30:84/Report/GagingD1/"+'@ViewBag.id'
            },60000);
           
            </script>
            <script src="~/Scripts/Display/showmapdisplay.js"></script>
        </div>
    </div>
</div>>










