
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/SupervisorStyles/supervisorLayout.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height: 12.9%;">
        <div class="container">
            <div class="navbar-header">
              
                <a class="navbar-brand" rel="home" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/adding-a-view" title="Buy Sell Rent Everyting">
                    <img height="50" class="d-inline-block align-top" alt="" src="~/Content/images/flinteclogo.png">
                </a>
               
            </div>
            <div class="navbar-collapse collapse" style="float: right;">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <img  class="img-circle"  width="50" height="50" alt="" src="~/Content/images/profile.jpg"> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:5%">
        @RenderBody()

      <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FlinTec ISM Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
