

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/SupervisorStyles/supervisorLayout.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" rel="home" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/adding-a-view" title="Buy Sell Rent Everyting">
                            <img height="45" class="d-inline-block align-top" alt="" src="~/Content/images/flinteclogo.png">
                        </a>
                    </li>   
                    <li  style="float: right;">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <img class="img-circle" width="45" height="45" alt="" src="~/Content/images/profile.jpg"> <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><div>
                                            <ul class="nav navbar-nav navbar-left">
                                                <li>
                                                    <strong style="margin-left:20px">Kalpa Wijesooriya</strong>
                                                </li>
                                            </ul>
                                            </div>
                                        </li>
                                        <li><a href="#" style="color:darkgrey">kalpa.wijesooriya@flintec.com</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="container body-content" style="margin-top:5%">
        @RenderBody()

      <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FlinTec ISM Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
