
@{
    ViewBag.Title = "Raspberry";

}
@using IssueManagementSystem.Models;
@using System.Web.UI.WebControls;
@using System.Web.UI;
@model List<IssueManagementSystem.Models.issue_occurrence>
@{int IT_count = 0; int brake_count = 0; int maririal_count = 0; int tecnical_count = 0; string lineName=null; string map = null; }
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Display/jquery.totemticker.js"></script>
<link href="~/Content/Display/style.css" rel="stylesheet" />
<link href="~/Content/Display/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Display/displaystyles.css" rel="stylesheet" />
@{
    using (issue_management_systemEntities1 db = new issue_management_systemEntities1())
    {
        int id = ViewBag.id;
        var  lineinfo = db.lines.Where(x => x.line_id == id).FirstOrDefault();
        lineName = lineinfo.line_name;
        var mapinfo = db.line_map.Where(x => x.line_id == id).FirstOrDefault();
        map = mapinfo.map;
    }
}
<div class="displayhedding"><h3>@lineName</h3></div>
<div class="container-fluid margin">

    <div class="row">
        <div class="col-sm-5">
            <div class="container-liquid">

                <div style="display:inline-grid;grid-template-columns: 90%  50%">
                    <div id="container">
                        <canvas id="canvas1" style="border: 1px solid black;" width="500" height="600">
                            <br> This text is displayed if your browser does not support HTML5 Canvas. <br>
                        </canvas>
                    </div>

                    <label id="map" style="display: none;"> @map</label>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div id="wrapper">
                <ul id="vertical-ticker">
                    <li id="brake_list">
                        <div class="card text-white bg-danger mb-3" style="max-width:80rem;" id="brakediv">
                            <div class="card-header">Machine Breakdown</div>
                            <div class="card-body" id="breakediv">
                                <table class="table" style="max-width:80rem;color:white">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Machine</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Responsible person</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.issueoccourInfo)
                                        {
                                            if (item.issue_issue_ID == 1)
                                            {
                                                brake_count++;
                                                <tr>
                                                    <td>@item.date_time</td>
                                                    <td>@item.machine_machine_id</td>
                                                    <td>@item.description</td>
                                                    <td>@item.responsible_person_emp_id</td>
                                                </tr>
                                            }

                                        }
                                        @if (brake_count == 0)
                                        {//when no issues hide the div and line
                                            <script type="text/javascript">
                                                $("#brakediv").hide();
                                                $("#brake_list").hide();
                                            </script>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li id="maririal_list">
                        <div class="card text-white bg-warning mb-3" style="max-width: 80rem;" id="maririaldiv">
                            <div class="card-header">Matirial Delay</div>
                            <div class="card-body">
                                <table class="table" style="max-width:80rem;color:black">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Matirial</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Responsible person</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.issueoccourInfo)
                                        {
                                            if (item.issue_issue_ID == 2)
                                            {
                                                maririal_count++;
                                                <tr>
                                                    <td>@item.date_time</td>
                                                    <td>@item.material_id</td>
                                                    <td>@item.description</td>
                                                    <td>@item.responsible_person_emp_id</td>
                                                </tr>
                                            }

                                        }
                                        @if (maririal_count == 0)
                                        {//when no issues hide the div and line
                                            <script type="text/javascript">
                                                $("#maririaldiv").hide();
                                                $("# maririal_list").hide();

                                            </script>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li id="tecnical_list">
                        <div class="card text-white bg-success mb-3" style="max-width: 80rem;" id="tecnicaldiv">
                            <div class="card-header">Technical Issue</div>
                            <div class="card-body">
                                <table class="table" style="max-width:80rem;color:white">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Machine</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Responsible person</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.issueoccourInfo)
                                        {
                                            if (item.issue_issue_ID == 3)
                                            {
                                                tecnical_count++;
                                                <tr>
                                                    <td>@item.date_time</td>
                                                    <td>@item.machine_machine_id</td>
                                                    <td>@item.description</td>
                                                    <td>@item.responsible_person_emp_id</td>
                                                </tr>
                                            }

                                        }
                                        @if (tecnical_count == 0)
                                        {//when no issues hide the div and line
                                            <script type="text/javascript">
                                                $("#tecnicaldiv").hide();
                                                $("#tecnical_list").hide();
                                            </script>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li id="IT_list">
                        <div class="card text-white bg-primary mb-3" style="max-width: 80rem;" id="Softwarediv">
                            <div class="card-header">IT/Software Issue</div>
                            <div class="card-body">
                                <table class="table" style="max-width:80rem;color:white;min-width:30rem;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Machine</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Responsible person</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.issueoccourInfo)
                                        {
                                            if (item.issue_issue_ID == 5)
                                            {
                                                IT_count++;
                                                <tr>
                                                    <td>@item.date_time</td>
                                                    <td>@item.machine_machine_id</td>
                                                    <td>@item.description</td>
                                                    <td>@item.responsible_person_emp_id</td>
                                                </tr>
                                            }

                                        }

                                        @if (IT_count == 0)
                                        {//when no issues hide the div and line
                                            <script type="text/javascript">
                                                $("#Softwarediv").hide();
                                                $("#IT_list").hide();
                                                // stop();
                                            </script>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <script src="~/Scripts/Display/showmapdisplay.js"></script>

        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <script src="~/Scripts/3.30bootstrap.min.js"></script>
        <script src="~/signalr/js"></script>
        <script>

            $.connection.hub.start()
                .done(function () {
                    console.log("Worked")

                })
                .fail(function () { alert("ERROR!") });


            $.connection.iSMHUB.client.announce = function () {
                //refresh the page when hub call to its chient after 2 seconds
                setTimeout(function () {
                    location.reload();
                }, 2000);
               
            }

        </script>
        <script type="text/javascript">
            $(function () {
                $('#vertical-ticker').totemticker({
                    row_height: '100px',
                    next: '#ticker-next',
                    previous: '#ticker-previous',
                    stop: '#stop',
                    start: '#start',
                    mousestop: true,
                });
            });
        </script>
    </div>
</div>










