@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<link href="~/Content/adminstyles/select2-min.css" rel="stylesheet" />
<link href="~/Content/adminstyles/Settings.css" rel="stylesheet" />

<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Manager</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                            </ul>
                        </div>
                        <form class="au-form-icon--sm  hidden" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Welcome back
                        <span>@Session["name"]!</span>
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Current Issues</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="statistic__item statistic__item--red">
                        <h2 class="number"> @ViewBag.BrakedownCount</h2>
                        <span class="desc">Machine Brakedown</span>
                        <div class="icon">
                            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.ITIsuue</h2>
                        <span class="desc">IT/SoftWare Issue</span>
                        <div class="icon">
                            <i class="zmdi  zmdi-windows"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">@ViewBag.TechnicalIssue</h2>
                        <span class="desc">Technical Issue</span>
                        <div class="icon">
                            <i class="fas fa-wrench"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">@ViewBag.MaterialDelayCount</h2>
                        <span class="desc">Material Delay</span>
                        <div class="icon">
                            <i class="zmdi animated infinite wobble zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.QualityIsuue</h2>
                        <span class="desc">Qulity Isse</span>
                        <div class="icon">
                            <i class="zmdi zmdi-brightness-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
    <!-- STATISTIC CHART-->
    <section class="statistic-chart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">statistics</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <!-- CHART-->
                    <div class="statistic-chart-1">

                        <h3 class="title-3 m-b-30">Top Issues</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>

                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                        <script type="text/javascript">
                            function getRandomColor() 
                                {
                                  var letters = '0123456789ABCDEF';
                                  var color = '#';
                                  for (var i = 0; i < 6; i++) {
                                    color += letters[Math.floor(Math.random() * 16)];
                                  }
                                  return color;
                                }
                            
                            var chartData1;

                            google.charts.load("current", { packages: ['corechart'] });
                            google.charts.setOnLoadCallback(drawChart);
                           
                            function drawChart() {
                               var dataArray = new Array(); 

                                $.ajax({
                                    type: "POST",
                                    async: false,
                                    dataType: 'text',
                                    url: "/Manager/fillChart1",
                                    data: { issueJson: 'issueJson'},
                                    success: function (feedback) {
                                        chartData1 = JSON.parse(feedback);
                                        var a1 = new Array(chartData1.length+1);
                                        a1[0] = ["Element","Density", { role: "style" }]
                                        var x = new Array();
                                        count = 1;

                                        chartData1.forEach(function(element) 
                                            {
                                                var ele1 = element.machine_machine_id;
                                                var ele2 = element.count;
                                                var ele3= getRandomColor();
                                                x = [ele1,ele2,ele3];
                                                a1[count] = x;
                                                count++;
                                            });

                                   dataArray = a1;
                                    },
                                    error: function () {
                                        alert("Error occurred");
                                    }
                                });
                              
                                var data = google.visualization.arrayToDataTable(dataArray);
                                var view = new google.visualization.DataView(data);

                                view.setColumns([0, 1,
                                    {
                                        calc: "stringify",
                                        sourceColumn: 1,
                                        type: "string",
                                        role: "annotation"
                                    },2]);

                                var options = {
                                    bar: { groupWidth: "95%" },
                                    legend: { position: "none" },
                                    chartArea: { 'width': '100%', 'height': '60%', 'top': '0' },
                                    hAxis: {
                                        textStyle: {
                                            fontSize: 9 // or the number you want
                                        }
                                    }
                                };
                                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                                chart.draw(view, options);
                            }

                        </script>

                        <div id="columnchart_values" style="width: 100%; height: 100%; " data-toggle="tooltip" title="This chart shows Top 10 Material delays and Machine breakdowns">


                        </div>
                        <div class="row" style="margin:10px;">
                            <div class="col-lg-12">
                                <select class="js-example-placeholder-single js-states form-control" id="issueSelectBox" name="issueSelectBox">
                                    <option></option>
                                    <option>Machine Breakdown</option>
                                    <option>Material Delay</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- END CHART-->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- TOP CAMPAIGN-->
                    <div class="top-campaign">
                        <h3 class="title-3 m-b-30">Top 10 Issues took longets time to fix</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    <tr>
                                        <td>1. Australia</td>
                                        <td>$70,261.65</td>
                                    </tr>
                                    <tr>
                                        <td>2. United Kingdom</td>
                                        <td>$46,399.22</td>
                                    </tr>
                                    <tr>
                                        <td>3. Turkey</td>
                                        <td>$35,364.90</td>
                                    </tr>
                                    <tr>
                                        <td>4. Germany</td>
                                        <td>$20,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>5. France</td>
                                        <td>$10,366.96</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TOP CAMPAIGN-->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- CHART PERCENT-->
                    <div class="chart-percent-2">
                        <h3 class="title-3 m-b-30">Number of Issues by Type</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>

                        <script type="text/javascript">
                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart);
                            function drawChart() {
   
                            var dataArray = new Array(); 

                                $.ajax({
                                    type: "POST",
                                    async: false,
                                    dataType: 'text',
                                    url: "/Manager/fillChart3",
                                    data: { issueJson: 'issueJson'},
                                    success: function (feedback) {
                                        chartData1 = JSON.parse(feedback);
                                        var a1 = new Array(chartData1.length+1);
                                        a1[0] = ["Issue","Number of Occurrence"]
                                        var x = new Array();
                                        count = 1;

                                        chartData1.forEach(function(element) 
                                            {
                                                var ele1 = element.issue;
                                                var ele2 = element.count;
                                                x = [ele1,ele2];
                                                a1[count] = x;
                                                count++;
                                            });

                                   dataArray = a1;
                                    },
                                    error: function () {
                                        alert("Error occurred");
                                    }
                                });

                            console.log(dataArray);
                                var data = google.visualization.arrayToDataTable(dataArray);

                                var options = {
                                    title: 'Number of Issues by Type',
                                    is3D: true,
                                    chartArea: { 'width': '100%', 'height': '80%', 'top': '0' },
                                    legend: { position: "bottom" },
                                    slices: {0: {color: '#f40000'}, 1:{color: '#ffcc00'}, 2:{color: '#1e63ce'}, 3: {color: '#31bc07'}, 4:{color: '#a80da3'}}
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                chart.draw(data, options);
                            }
                        </script>

                        <div id="piechart_3d" style="width: 100%; height: 100%;"></div>


                    </div>
                    </div>
                    <!-- END CHART PERCENT-->
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC CHART-->
    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">data table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters
                            </button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add item
                            </button>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>description</th>
                                    <th>date</th>
                                    <th>status</th>
                                    <th>price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">john@example.com</span>
                                    </td>
                                    <td class="desc">iPhone X 64Gb Grey</td>
                                    <td>2018-09-29 05:57</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$999.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lyn@example.com</span>
                                    </td>
                                    <td class="desc">iPhone X 256Gb Black</td>
                                    <td>2018-09-25 19:03</td>
                                    <td>
                                        <span class="status--denied">Denied</span>
                                    </td>
                                    <td>$1199.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">doe@example.com</span>
                                    </td>
                                    <td class="desc">Camera C430W 4k</td>
                                    <td>2018-09-24 19:10</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$699.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->
    <script src="~/Scripts/AdminScripts/jscolar.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/AdminScripts/select2-min.js"></script>
    <script>
        $('#issueSelectBox').select2({
            minimumResultsForSearch: -1,
            placeholder: "Select issue.....",
            allowClear: false
        });
    </script>
</div>