@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<link href="~/Content/adminstyles/select2-min.css" rel="stylesheet" />
<link href="~/Content/adminstyles/Settings.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/SupervisorStyles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<style>
    .dateGap {
        margin-bottom: 10px;
    }
</style>

<div class="page-content--bgf7">

    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Manager</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                            </ul>
                        </div>
                        <form class="au-form-icon--sm  hidden" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Welcome back
                        <span>@Session["name"]!</span>
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>

    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Current Issues</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="statistic__item statistic__item--red" data-toggle="modal" data-target="#modal1">
                        <h2 class="number"> @ViewBag.BrakedownCount</h2>
                        <span class="desc">Machine Brakedown</span>
                        <div class="icon">
                            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.ITIsuue</h2>
                        <span class="desc">IT/SoftWare Issue</span>
                        <div class="icon">
                            <i class="zmdi  zmdi-windows"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">@ViewBag.TechnicalIssue</h2>
                        <span class="desc">Technical Issue</span>
                        <div class="icon">
                            <i class="fas fa-wrench"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">@ViewBag.MaterialDelayCount</h2>
                        <span class="desc">Material Delay</span>
                        <div class="icon">
                            <i class="zmdi animated infinite wobble zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.QualityIsuue</h2>
                        <span class="desc">Quality Isse</span>
                        <div class="icon">
                            <i class="zmdi zmdi-brightness-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal1" data-keyboard="false" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header background">
                        <h4 class="modal-title" style="margin-left:40%;color:white;">Machine Breakdowns</h4>
                        <button class="close" data-dismiss="modal" style="margin-top:-20px;">&times;</button>
                    </div>

                    <div class="modal-body" style="display:flex;">
                        <div class="container">
                            <div class="page-header row">

                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-8" style="margin-top:20px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <Button type="button" id="saveMap" class="btn btn-primary" onclick="addPerson()">Add</Button>
                        <Button type="button" class="btn btn-success" data-dismiss="modal">Close</Button>
                    </div>
            </div>
        </div>
    </div>

<section class="statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">statistics</h3>
            </div>
        </div>
        <div class="row" style="margin:10px;display:flex !important">

            <div class="col-lg-3" style="display:inline-flex">
                <p style="margin-right:13px;">Plant</p>
                <select class="js-example-placeholder-single js-states form-control" multiple="multiple" id="plantSelectBox"  style="width:75%;float:right !important;">
                    <option selected="selected" value="KOG">Koggala</option>
                    <option selected="selected" value="KTY">Katunayaka</option>
                </select>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <div class='input-group date'>
                        <input type='text' class="form-control" id='datetimepicker1' style="font-size:13px;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <p>to</p>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class='input-group date'>
                        <input type='text' class="form-control" id='datetimepicker2' style="font-size:13px;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" style="height:28px;width:80px; font-size:12px" onclick="filterByDate()">
                <span class="glyphicon glyphicon-filter"></span> Filter
            </button>

        </div>
        </br>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic-chart-1">

                    <h3 class="title-3 m-b-30">Machine Breakdowns</h3>
                    <p style="margin-top:-30px" class="title-7 m-xs-r-5 dateGap"> </p>

                    <div id="columnchart_values" style="width: 100%; height: 100%; " data-toggle="tooltip" title="This chart shows Top 10 Machine breakdowns">

                    </div>
                    </br>
                    </br>
                    <h3 class="title-3 m-b-30">Material Delays</h3>
                    <p style="margin-top:-30px" class="title-7 m-xs-r-5 dateGap"></p>

                    <div id="columnchart_values1" style="width: 100%; height: 100%; " data-toggle="tooltip" title="This chart shows Top 10 Material delays">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="top-campaign" style="padding-bottom:50px !important">
                    <h3 class="title-3 m-b-30">Top Dragged-out Issues</h3>
                    <p style="margin-top:-30px" class="title-7 m-xs-r-5 dateGap"></p>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm" style="font-size:12px !important" id="myTable">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="chart-percent-2">
                    <h3 class="title-3 m-b-30">Issue Occurrences </h3>
                    <p style="margin-top:-30px" class="title-7 m-xs-r-5 dateGap"> </p>

                    <div id="piechart_3d" style="width: 100%; height: 100%;"></div>


                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="p-t-20">


    <div class="container">
        <div class="row">

            <div class="col-lg-12" style="margin:auto !important">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <p style="">From</p>
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id='datetimepicker3' style="font-size:13px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <p style="">To</p>
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id='datetimepicker4' style="font-size:13px;" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <p style="margin-right:13px;">Plant</p>
                        <select class="js-example-placeholder-single js-states form-control" id="plantSelectBox2" style="width:100%;float:right !important;" onchange="filterTableData()">
                            <option selected="selected"></option>
                            <option selected="selected" value="KOG">KOG</option>
                            <option selected="selected" value="KTY">KTY</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <p style="margin-right:13px;">Department</p>
                        <select class="js-example-placeholder-single js-states form-control" id="dptSelectBox" style="width:100%;float:right !important;" onchange="filterTableData()">
                            <option selected="selected"></option>
                            <option value="1">Assembly</option>
                            <option value="2">Machining</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <p style="margin-right:13px;">Issue</p>
                        <select class="js-example-placeholder-single js-states form-control" id="issueSelectBox" style="width:100%;float:right !important;" onchange="filterTableData()">
                            <option selected=""></option>
                            <option value="1">Machine Breakdown</option>
                            <option value="2">Material Delay</option>
                            <option value="3">Technical Issue</option>
                            <option value="4">Quality Isuue</option>
                            <option value="5">IT Issue</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <p style="margin-right:13px;">Line</p>
                        <select class="js-example-placeholder-single js-states form-control" id="lineSelectBox" style="width:100%;float:right !important;" onchange="filterTableData()">
                            <option selected="selected"></option>
                            <option value="1">Potted</option>
                            <option value="2">Welded</option>
                            <option value="3">Guaging</option>
                            <option value="4">MD2</option>
                            <option value="5">SM</option>
                            <option value="6">Rocker</option>
                        </select>
                    </div>


                    <div class="col-lg-1">
                        <p style="margin-right:13px;">Status</p>
                        <select class="js-example-placeholder-single js-states form-control" id="statusSelectBox" style="width:100%;float:right !important;" onchange="filterTableData()">
                            <option selected="selected"></option>
                            <option value="0">Solved</option>
                            <option value="1">Unsolved</option>
                        </select>
                    </div>
                    </>
                </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35"></h3>

                <div>
                    <div class="container" style="display:inline-flex; width:100%; padding-bottom:10px;">
                        <div class="col-md-12">
                            <div class="row" style="font-weight:600">
                                <div class="col-md-1">Date</div>
                                <div class="col-md-1">IssueID</div>
                                <div class="col-md-5">Issue</div>
                                <div class="col-md-1">Plant</div>
                                <div class="col-md-2">Line</div>
                                <div class="col-md-2">Status</div>
                            </div>
                        </div>
                    </div>
                    <div id="pagesContainer">
                        <div class="tablePages" id="page1">
                            <div id="accordion">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="paginationDiv">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/AdminScripts/jscolar.js"></script>
<script src="~/Scripts/AdminScripts/select2-min.js"></script>
<script src="~/Scripts/Manager/managersScripts.js"></script>

