@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<link href="~/Content/adminstyles/select2-min.css" rel="stylesheet" />
<link href="~/Content/adminstyles/Settings.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/SupervisorStyles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<!-- PAGE CONTENT-->
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Manager</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                            </ul>
                        </div>
                        <form class="au-form-icon--sm  hidden" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Welcome back
                        <span>@Session["name"]!</span>
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Current Issues</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="statistic__item statistic__item--red">
                        <h2 class="number"> @ViewBag.BrakedownCount</h2>
                        <span class="desc">Machine Brakedown</span>
                        <div class="icon">
                            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.ITIsuue</h2>
                        <span class="desc">IT/SoftWare Issue</span>
                        <div class="icon">
                            <i class="zmdi  zmdi-windows"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">@ViewBag.TechnicalIssue</h2>
                        <span class="desc">Technical Issue</span>
                        <div class="icon">
                            <i class="fas fa-wrench"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">@ViewBag.MaterialDelayCount</h2>
                        <span class="desc">Material Delay</span>
                        <div class="icon">
                            <i class="zmdi animated infinite wobble zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.QualityIsuue</h2>
                        <span class="desc">Qulity Isse</span>
                        <div class="icon">
                            <i class="zmdi zmdi-brightness-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
    <!-- STATISTIC CHART-->
    <section class="statistic-chart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">statistics</h3>
                </div>
            </div>
            <div class="row" style="margin:10px;display:flex !important">
                <div class="col-lg-2">
                    <div class="form-group">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='datetimepicker1' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <p>to</p>
                <div class="col-lg-2">
                    <div class="form-group">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='datetimepicker2' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-danger" style="height:25px; font-size:12px" onclick="filterByDate()">
                    <span class="glyphicon glyphicon-filter"></span> Filter
                </button>

            </div>
            </br>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <!-- CHART-->
                    <div class="statistic-chart-1">

                        <h3 class="title-3 m-b-30">Machine Breakdowns</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>

                        <div id="columnchart_values" style="width: 100%; height: 100%; " data-toggle="tooltip" title="This chart shows Top 10 Material delays and Machine breakdowns">

                        </div>
                        </br>
                        </br>
                        <h3 class="title-3 m-b-30">Material Delays</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>

                        <div id="columnchart_values1" style="width: 100%; height: 100%; " data-toggle="tooltip" title="This chart shows Top 10 Material delays and Machine breakdowns">

                        </div>
                        <!-- <div class="row" style="margin:10px;">
                                <div class="col-lg-12">
                                </div>
                             </div>
                        -->
                    </div>
                    <!-- END CHART-->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- TOP CAMPAIGN-->
                    <div class="top-campaign" style="padding-bottom:50px !important">
                        <h3 class="title-3 m-b-30">Top 10 Issues took longets time to fix</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm" style="font-size:12px !important" id="myTable">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TOP CAMPAIGN-->
                </div>

                <div class="col-md-6 col-lg-4">
                    <!-- CHART PERCENT-->
                    <div class="chart-percent-2">
                        <h3 class="title-3 m-b-30">Number of Issues by Type</h3>
                        <p style="margin-top:-30px" class="title-7 m-xs-r-5">In month of December</p>

                        <div id="piechart_3d" style="width: 100%; height: 100%;"></div>


                    </div>
                </div>
                <!-- END CHART PERCENT-->
            </div>
        </div>
</div>
    </section>
<!-- END STATISTIC CHART-->
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Issues</h3>

                    <div >
                        <div class="container" style="display:inline-flex; width:100%; padding-bottom:10px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">Date</div>
                                    <div class="col-md-1">IssueID</div>
                                    <div class="col-md-4">Issue</div>
                                    <div class="col-md-3">Line</div>
                                    <div class="col-md-2">Status</div>
                                </div>
                            </div>
                        </div>
                         <div id="pagesContainer">
                            <div class="tablePages" id="page1">
                                <div id="accordion">
                                </div>
                            </div>
                        </div>
                    </div>

                <div id="paginationDiv">
                </div>

                <script>
                        $(document).ready(function() { 
                             loadTablePage(1);
                        });

                        function loadTablePage(page){
                             var obj = [  
                                            ["2019/12/11","1" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","2" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","3" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","4" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","5" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","6" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","7" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","8" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","9" ,"Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","10","Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","11","Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","12","Machine Breakdown","ROCKER","Solved"],
                                            ["2019/12/11","13","Machine Breakdown","ROCKER","Solved"]
                                        ];
                                 createPagination(Math.ceil((obj.length)/10));
                    
                                    var x = 4;
                                    var y = 8;
                                    
                                    var obj2 = new Array();

                                    for(var i=(x-1);i<=(y-1);i++)
                                    {
                                            console.log(obj[i][1]);
                                            obj2.push(obj[i]);
                                    }
                            loadAccordionTable(obj2);
                        }
                    
                       function loadAccordionTable(obj)
                        {
                              var accordion  =  document.getElementById('accordion');
                              var childElements = accordion.childNodes;
                              
                              $("#accordion").empty();

                             for(var i=0;i<obj.length;i++){
                                     createAccordionLine(accordion,obj[i][0],obj[i][1],obj[i][2],obj[i][3],obj[i][4]);
                                }

                             $( function() {
                                    $( "#accordion" ).accordion();
                                    $( "#accordion" ).accordion("refresh");
                                });

                        }

                        function createAccordionLine(accordion,date,id,issue,line,status){

                            var dateDIV  =  document.createElement('div');
                            var idDIV    =  document.createElement('div');
                            var issueDIV =  document.createElement('div');
                            var lineDIV  =  document.createElement('div');
                            var statusDIV=  document.createElement('div');
                     
                            dateDIV.setAttribute("class","col-md-2");
                            dateDIV.innerHTML = date;

                            idDIV.setAttribute("class","col-md-1");
                            idDIV.innerHTML = id;

                            issueDIV.setAttribute("class","col-md-4");
                            issueDIV.innerHTML = issue;

                            lineDIV.setAttribute("class","col-md-3");
                            lineDIV.innerHTML = line;

                            statusDIV.setAttribute("class","col-md-2");
                            statusDIV.innerHTML = status;

                            
                            var rowDIVinner = document.createElement('div');
                            rowDIVinner.setAttribute("class","row");
                            rowDIVinner.appendChild(dateDIV);
                            rowDIVinner.appendChild(idDIV);
                            rowDIVinner.appendChild(issueDIV);
                            rowDIVinner.appendChild(lineDIV);
                            rowDIVinner.appendChild(statusDIV);

                            var rowDIVinner1 = document.createElement('div');
                            rowDIVinner1.setAttribute("class","col-md-12");
                            rowDIVinner1.appendChild(rowDIVinner);

                            var rowDIVcontainer = document.createElement('div');
                            rowDIVcontainer.setAttribute("class","container");
                            rowDIVcontainer.style.display="inline-flex";
                            rowDIVcontainer.style.width="100%";

                            rowDIVcontainer.appendChild(rowDIVinner1);

                            var detailsDIV =  document.createElement('div');
                            var p1 =  document.createElement('p');
                            p1.innerHTML="test : Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer";
                            detailsDIV.appendChild(p1);
                   
                            accordion.appendChild(rowDIVcontainer);
                            accordion.appendChild(detailsDIV);

                        }

                        function createPagination(numberOfPages){
                            
                            var paginationDiv = document.getElementById("paginationDiv");
                            
                            if(paginationDiv.firstChild){
                                while (paginationDiv.firstChild){
                                    paginationDiv.removeChild(paginationDiv.firstChild);
                                }
                             }
                            var ulElement =  document.createElement('ul');
                            ulElement.setAttribute("class","pagination");

                            for(var i=0; i<numberOfPages ; i++){
                                   
                                    var liElement =  document.createElement('li');
                                    liElement.setAttribute("class","page-item");
                                    liElement.setAttribute("id",i);

                                    var aElement =  document.createElement('div');
                                    aElement.setAttribute("class","page-link");
                                   // aElement.setAttribute("href","#");
                                    aElement.innerHTML=i+1;
                                    aElement.setAttribute('onclick',"loadTablePage("+(Number(i)+1)+")"); 

                                    liElement.appendChild(aElement);
                                    ulElement.appendChild(liElement);
                            }
                            paginationDiv.appendChild(ulElement);
                        }
                </script>

                <style>
                    #accordion .ui-icon {
                        display: none;
                    }
                </style>

            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
<script src="~/Scripts/AdminScripts/jscolar.js"></script>
<script src="~/Scripts/AdminScripts/select2-min.js"></script>

<script>

    $('#monthSelectBox').select2({
        minimumResultsForSearch: -1,
        placeholder: "Select Month.....",
        allowClear: false
    });

    $('#yearSelectBox').select2({
        minimumResultsForSearch: -1,
        placeholder: "Select Year.....",
        allowClear: false
    });

</script>

<script>
    $(document).ready(function () {
        $("#datetimepicker1").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd.mm.yyyy',
            startDate: new Date(),
            updateViewDate: false
        });
        
        $("#datetimepicker2").datepicker();
    });
</script>

<script type="text/javascript">
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var chartData1;

    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var dataArray = new Array();

        $.ajax({
            type: "POST",
            async: false,
            dataType: 'text',
            url: "/Manager/fillChart1",
            data: { barChart: '1' },
            success: function (feedback) {
                chartData1 = JSON.parse(feedback);
                var a1 = new Array(chartData1.length + 1);
                a1[0] = ["Element", "Density", { role: "style" }]
                var x = new Array();
                count = 1;

                chartData1.forEach(function (element) {
                    var ele1 = element.machine_machine_id;
                    var ele2 = element.count;
                    var ele3 = getRandomColor();
                    x = [ele1, ele2, ele3];
                    a1[count] = x;
                    count++;
                });

                dataArray = a1;
            },
            error: function () {
                alert("Error occurred");
            }
        });

        var data = google.visualization.arrayToDataTable(dataArray);
        var view = new google.visualization.DataView(data);

        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            }, 2]);

        var options = {
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
            chartArea: { 'width': '100%', 'height': '60%', 'top': '0' },
            hAxis: {
                textStyle: {
                    fontSize: 9 // or the number you want
                }
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }

</script>

<script type="text/javascript">
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var chartData1;

    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var dataArray = new Array();

        $.ajax({
            type: "POST",
            async: false,
            dataType: 'text',
            url: "/Manager/fillChart1",
            data: { barChart: '2' },
            success: function (feedback) {
                chartData1 = JSON.parse(feedback);
                console.log(chartData1);
                var a1 = new Array(chartData1.length + 1);
                a1[0] = ["Element", "Density", { role: "style" }]
                var x = new Array();
                count = 1;

                chartData1.forEach(function (element) {
                    var ele1 = element.Search_Description;
                    var ele2 = element.count;
                    var ele3 = getRandomColor();
                    x = [ele1, ele2, ele3];
                    a1[count] = x;
                    count++;
                });

                dataArray = a1;
            },
            error: function () {
                alert("Error occurred");
            }
        });

        var data = google.visualization.arrayToDataTable(dataArray);
        var view = new google.visualization.DataView(data);

        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            }, 2]);

        var options = {
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
            chartArea: { 'width': '100%', 'height': '60%', 'top': '0' },
            hAxis: {
                textStyle: {
                    fontSize: 9 // or the number you want
                }
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values1"));
        chart.draw(view, options);
    }

</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var dataArray = new Array();

        $.ajax({
            type: "POST",
            async: false,
            dataType: 'text',
            url: "/Manager/fillChart3",
            data: { issueJson: 'issueJson' },
            success: function (feedback) {
                chartData1 = JSON.parse(feedback);
                var a1 = new Array(chartData1.length + 1);
                a1[0] = ["Issue", "Number of Occurrence"]
                var x = new Array();
                count = 1;

                chartData1.forEach(function (element) {
                    var ele1 = element.issue;
                    var ele2 = element.count;
                    x = [ele1, ele2];
                    a1[count] = x;
                    count++;
                });

                dataArray = a1;
            },
            error: function () {
                alert("Error occurred");
            }
        });

        console.log(dataArray);
        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Number of Issues by Type',
            is3D: true,
            chartArea: { 'width': '100%', 'height': '80%', 'top': '0' },
            legend: { position: "bottom" },
            slices: { 0: { color: '#f40000' }, 1: { color: '#ffcc00' }, 2: { color: '#1e63ce' }, 3: { color: '#31bc07' }, 4: { color: '#a80da3' } }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
</script>

<script>

    $(document).ready(function () {
        createTable();
    });

    function createTable() {
        $.ajax({
            type: "POST",
            async: false,
            dataType: 'text',
            url: "/Manager/fillChart2",
            data: { issueJson: 'issueJson' },
            success: function (feedback) {
                chartData1 = JSON.parse(feedback);

                chartData1.forEach(function (element) {
                    var ele1 = element.issue_date.split('(')[1];
                    ele1 = ele1.split(')')[0];
                    console.log(ele1);

                    var ele2 = element.issue;
                    var ele3 = element.machine_machine_id;
                    var ele4 = element.material_id;
                    var ele5 = element.Name;
                    var ele6 = element.DateDiff

                    if (ele3 == null && ele4 != null) { createRow(Unix_timestamp(ele1) + "</br>(" + (ele6 / 60).toFixed(1) + "Hrs)", ele2, ele4, ele5) }

                    if (ele4 == null && ele3 != null) { createRow(Unix_timestamp(ele1) + "</br>(" + (ele6 / 60).toFixed(1) + "Hrs)", ele2, ele3, ele5) }

                    if (ele4 == null && ele3 == null) { createRow(Unix_timestamp(ele1) + "</br>(" + (ele6 / 60).toFixed(1) + "Hrs)", ele2, "", ele5) }

                });

            },
            error: function () {
                alert("Error occurred");
            }
        });
    }

    function createRow(issue_date, issue, desc, resp_name) {

        var mainDiv = document.getElementById('myTable');

        var tableRow = document.createElement("tr");

        var tableData = document.createElement("td");
        tableData.innerHTML = issue_date;

        var tableData2 = document.createElement("td");
        tableData2.innerHTML = issue;

        var tableData3 = document.createElement("td");
        tableData3.innerHTML = desc;

        var tableData4 = document.createElement("td");
        tableData4.innerHTML = resp_name;

        tableRow.appendChild(tableData);
        tableRow.appendChild(tableData2);
        tableRow.appendChild(tableData3);
        tableRow.appendChild(tableData4);

        mainDiv.appendChild(tableRow);
    }

    function Unix_timestamp(t) {
        // Unixtimestamp
        var unixtimestamp = Number(t);

        // Months array
        var months_arr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        // Convert timestamp to milliseconds
        var date = new Date(unixtimestamp);

        // Year
        var year = date.getFullYear();

        // Month
        var month = months_arr[date.getMonth()];

        // Day
        var day = date.getDate();

        // Hours
        var hours = date.getHours();

        // Minutes
        var minutes = "0" + date.getMinutes();

        // Seconds
        var seconds = "0" + date.getSeconds();

        // Display date time in MM-dd-yyyy h:m:s format
        // var convdataTime = month+'-'+day+'-'+year+' '+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        var convdataTime = month + '-' + day;

        return convdataTime;
    }

</script>


</div>