@{
    ViewBag.Title = "MaterialDelay";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    int userID = (int)Session["userID"];// get current supervisorID
    dynamic mat_List = new System.Dynamic.ExpandoObject();


}

@using IssueManagementSystem.Models
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />
<link href="~/Content/adminstyles/select2-min.css" rel="stylesheet" />
<link href="~/Content/adminstyles/Settings.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>
<h2>Material Delay</h2>
<hr />
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="" style="width:50%;margin:auto;">

            <div class="form-group" style="width:100%;margin:auto">
                <div id="groupsdiv">
                    <label for="exampleFormControlTextarea1" >Select Group</label>
                    <select class="js-example-placeholder-single js-states form-control" id="groups" style="width:100%;">
                        <option></option>

                    </select>
                </div>

                <label style="margin-top:5%">Select job card</label>

                <select class="js-example-placeholder-single js-states form-control" id="jobCardSelectBox" style="width:100%" onchange="loadMaterialList()">
                    <option></option>
                    @foreach (var j in Model.jobCards)
                    {
                        <option value="@j.Prod_Order_No_">@j.Prod_Order_No_    &nbsp;- &nbsp;&nbsp; @j.Description </option>
                    }
                </select>



                <label style="margin-top:5%">Select material</label>
                <select class="js-example-placeholder-single js-states form-control" id="materialSelectBox" style="width:100%">
                    <option></option>
                </select>

                <div style="padding-top:20px;">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" rows="5" id="description" style="resize: both;width:100%;"></textarea>
                </div>
                <div class="button-holder" style="display:block;margin-top:-50px;">
                    <div class="ajax-button">
                        <div class="fa fa-check done"></div>
                        <div class="fa fa-close failed"></div>
                        <input id="submit" class="submit" type="button" value="Submit" onclick="SubmitMaterialDelay()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/AdminScripts/jscolar.js"></script>
<script src="~/Scripts/AdminScripts/select2-min.js"></script>
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/Scripts/AdminScripts/select2-min.js"></script>
<script src="~/signalr/Hubs"></script>
<script>
     $('#groupsdiv').hide()
    if('@Session["department"]'=='MachineShop')
    {
      for(var i=1;i<=10;i++)
        {
           $('#groups').append('<option value="'+i+'">Group'+i+'</option>')
        }
     
    $('#groupsdiv').show()
    }
       if(('@Session["department"]'=='HeatTreatment')||('@Session["department"]'=='Accessories'))
    {
     
           $('#groups').append('<option value="1">Heat treatment</option>')
           $('#groups').append('<option value="2">Accessories</option>')
      
     
    $('#groupsdiv').show()
    }
    $('select').select2({
        placeholder: "Select.....",
        allowClear: false
    });

    $(document).ready(function(){
            $("#materialSelectBox").prop("disabled", true);
    });

    function loadMaterialList()
    {
        var selectedJobCard = document.getElementById("jobCardSelectBox").value;
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: "/CellEngineer/loadMaterialList",
            data: { selectedJobCard: selectedJobCard },
            success: function (feedback) {
                feedback = JSON.parse(feedback);
                var materialSelectBox = document.getElementById("materialSelectBox");
                materialSelectBox.options.length = 0;
                var opt1 = document.createElement('option');
                opt1.innerHTML = '';
                opt1.value = '';
                materialSelectBox.appendChild(opt1);

                for (var i = 0; i < feedback[0].Value.length; i++) {
                    var opt = document.createElement('option');
                    opt.innerHTML = feedback[0].Value[i].Item_No_;
                    opt.value = feedback[0].Value[i].Item_No_;
                    materialSelectBox.appendChild(opt);
                }

            },
            error: function () {
                alert("Error occurred");
            }
        });

        if(selectedJobCard != null){
            $("#materialSelectBox").prop("disabled", false);
        }
    }

 

    function SubmitMaterialDelay() {

        obj = new Object();

        obj.issue_date = new Date();
        obj.material_id = document.getElementById("materialSelectBox").value;
        obj.description = document.getElementById("description").value;
        obj.line_line_id = @ViewBag.lineid;
        obj.issue_issue_ID = "2";
        obj.responsible_person_emp_id = "";
        obj.issue_satus = "0";
        obj.location = "KTY";
        obj.responsible_person_confirm_status = "0";
        obj.group=document.getElementById("groups").value
        obj.material = $('#Material').find(":selected").text();
        obj.jobcard=document.getElementById("jobCardSelectBox").value;
        var obj_array = new Array();
        obj_array.push(obj);

        var issueJson = JSON.stringify(obj_array);
         var url = '@Url.Action("AddMaterialDelay", "Supervisor")'
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: url,
            data: { issueJson: issueJson },
            success: function (feedback) {
                window.location.href = '@Url.Action("DashBord", "CellEngineer")?lineid=' +obj.line_line_id;
            },
            error: function () {
                alert("Error occurred");
            }
        });
    }
     $('#groups').select2({
        placeholder: "Select Group.....",
        allowClear: false
    });
</script>



<script>
    $("#submit").click(function () {
        $.connection.hub.start()
            .done(function () {
                console.log("Worked")
                $.connection.ismHub.server.announce();
            })
            .fail(function () { alert("ERROR!") });
    });

</script>