@{
    ViewBag.Title = "MaterialDelay";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    dynamic mat_List = new System.Dynamic.ExpandoObject();

    int lineId = (int)Session["lineId"];

    using (issue_management_systemEntities1 db = new issue_management_systemEntities1())//method for load the map acordinto the surevisor line
    {
       
       
        var mapInfo = db.line_map.Where(y => y.line_id == lineId).FirstOrDefault();
        ViewData["map"] = mapInfo.map.ToString().Trim();//get the map arry to ViewData

    }
}

@using IssueManagementSystem.Models


<link href="~/Content/adminstyles/select2-min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />

<h2>Material Delay</h2>
<hr />
<label id="map" style="display: none;">@ViewData["map"]</label>
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="container-liquid" id="mapdiv">
                <div style="display:inline-grid;grid-template-columns: 90%  50%">
                    <div id="container">
                        <canvas id="canvas1" style="border: 1px solid black;margin-left:8.2em;background-size: 100% 100%;" width="250" height="750">
                            <br>This text is displayed if your browser does not support HTML5 Canvas.<br>
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="width:50%;margin:auto;">

            <div class="form-group" style="width:100%;">
                <div id="groupsdiv">
                    <label for="exampleFormControlTextarea1" style="margin-top:5%">Select Group</label>
                    <select class="js-example-placeholder-single js-states form-control" id="groups" name="Material" style="width:100%;" onchange="">
                        <option></option>

                    </select>
                </div>
                <div class="form-group machine" id="machinediv">
                    <label for="exampleFormControlTextarea1">Machine</label>
                    <input type="text" class="form-control" id="machine" disabled>
                </div>
                <div id="machineshopdiv">
                    <label for="exampleFormControlTextarea1" style="margin-top:5%">Group</label>
                    <input type="text" class="form-control" id="grouptext" disabled>
                </div>

                <span id="lineID" style="display:none">@lineId</span>

                <label style="margin-top:5%">Select job card</label>

                <select class="js-example-placeholder-single js-states form-control" id="jobCardSelectBox" style="width:100%" onchange="loadMaterialList()">
                    <option></option>
                    @foreach (var j in Model.jobCards)
                    {
                        <option value="@j.Prod_Order_No_">@j.Prod_Order_No_  &nbsp;- &nbsp;&nbsp; @j.Description </option>
                    }
                </select>

                <label style="margin-top:5%">Select material</label>

                <div class="row">
                    <div class="col-md-3">
                        <input id="chk_box" type="checkbox" onChange="checkBoxOnChange()" data-toggle="toggle" checked data-on="BOM material" data-off="non-BOM material" data-onstyle="success" data-offstyle="info" data-size="small" />
                    </div>
                    <div class="col-md-9" style="margin:auto">
                        <select class="js-example-placeholder-single js-states form-control" id="materialSelectBox" style="width:100%">
                            <option></option>
                        </select>
                    </div>

                </div>



                <div style="padding-top:20px;">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" rows="5" id="description" style="resize: both;width:100%;"></textarea>
                </div>

                <div class="button-holder" style="display:block;margin-top:-50px;">
                    <div class="ajax-button">
                        <div class="fa fa-check done"></div>
                        <div class="fa fa-close failed"></div>
                        <input id="submit" class="submit" type="button" value="Submit" onclick="SubmitMaterialDelay()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/SupervisorScripts/showmap.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Manager/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<script src="~/Scripts/AdminScripts/jscolar.js"></script>
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/Scripts/AdminScripts/select2-min.js"></script>
<script src="~/signalr/Hubs"></script>
<script src="~/Scripts/SupervisorScripts/machineBrakedown.js"></script>

<script>
     $('#groupsdiv').hide()
     $('#mapdiv').hide()
     $('#machineshopdiv').hide()
    $('#machinediv').hide()
    if('@Session["department"]'=='MachineShop')
    {
      $('#mapdiv').show()
      $('#machineshopdiv').show()
      $('#machinediv').show()
    }
    if(('@Session["department"]'=='HeatTreatment')||('@Session["department"]'=='Accessories'))
    {

          $('#groups').append('<option value="1">Heat treatment</option>')
          $('#groups').append('<option value="2">Accessories</option>')

    $('#groupsdiv').show()
    }
    $(document).ready(function () {
        $("#materialSelectBox").prop("disabled", true);
         $("#chk_box").attr("disabled", true);
    });

    function loadMaterialList() {
        var selectedJobCard = document.getElementById("jobCardSelectBox").value;

        $.ajax({
            type: "POST",
            dataType: 'text',
            async:true,
            url: "/CellEngineer/loadMaterialList",
            data: { selectedJobCard: selectedJobCard },
            success: function (feedback) {
                feedback = JSON.parse(feedback);
                var materialSelectBox = document.getElementById("materialSelectBox");
                materialSelectBox.options.length = 0;
                var opt1 = document.createElement('option');
                opt1.innerHTML = '';
                opt1.value = '';
                materialSelectBox.appendChild(opt1);
                for (var i = 0; i < feedback[0].Value.length; i++) {
                    var opt = document.createElement('option');
                    opt.innerHTML = feedback[0].Value[i].Item_No_;
                    opt.value = feedback[0].Value[i].Item_No_;
                    materialSelectBox.appendChild(opt);
                }

            },
            error: function () {
                alert("Error occurred");
            }
        });

        if (selectedJobCard != null) {
            $("#materialSelectBox").prop("disabled", false);
            $("#chk_box").attr("disabled", false);
        }
    }

    function load_nonBOMMaterialList() {
      var url = '@Url.Action("loadNonBOMMaterials", "CellEngineer")'
        $.ajax({
            type: "POST",
            dataType: 'text',
            async: true,
            url:url,
            success: function (feedback) {
                feedback = JSON.parse(feedback);
                var materialSelectBox = document.getElementById("materialSelectBox");
                materialSelectBox.options.length = 0;
                var opt1 = document.createElement('option');
                opt1.innerHTML = '';
                opt1.value = '';
                materialSelectBox.appendChild(opt1);
                for (var i = 0; i < feedback[0].Value.length; i++) {
                    var opt = document.createElement('option');
                    opt.innerHTML = feedback[0].Value[i].No_ +" - "+feedback[0].Value[i].Description;
                    opt.value = feedback[0].Value[i].No_;
                    materialSelectBox.appendChild(opt);
                }
            },
            error: function () {
                alert("Error occurred");
            }
        });

    }


    $('select').select2({
        placeholder: "Select.....",
        allowClear: false
    });
     $('#groups').select2({
        placeholder: "Select Group.....",
        allowClear: false
    });

    function SubmitMaterialDelay() {

        obj = new Object();

        obj.issue_date = new Date();
        obj.material_id = document.getElementById("materialSelectBox").value;
        obj.description = document.getElementById("description").value;
        obj.line_line_id = @Session["lineId"];
        obj.issue_issue_ID = "2";
        obj.responsible_person_emp_id = "";
        obj.issue_satus = "0";
        obj.jobcard=document.getElementById("jobCardSelectBox").value;
        obj.location =  '@Session["location"]';
        obj.responsible_person_confirm_status = "0";
       var grouparry=document.getElementById("grouptext").value.split(" ")
       if(grouparry=="")
        {
         obj.group=""
        }else{
        obj.group=grouparry[1];
        }
        obj.material = $('#Material').find(":selected").text();
        var obj_array = new Array();
        obj_array.push(obj);

        var issueJson = JSON.stringify(obj_array);
         var url = '@Url.Action("AddMaterialDelay", "Supervisor")'
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: url,
            data: { issueJson: issueJson },
            success: function (feedback) {
            $.connection.hub.start()//Refresh Screen
                .done(function () {
                 console.log("Worked")
                 $.connection.ismHub.server.announce();
              }).fail(function () { alert("Can't Refresh Your Line Screen! Plese Inform IT Department!") });

              window.location.href = '@Url.Action("selectIssue", "Supervisor")'; //return to dashbord
            },
            error: function (feedback) {
                alert(feedback);
            }
        });
    }

    function checkBoxOnChange() {

        if (document.getElementById('chk_box').checked) {
                loadMaterialList();
        }
        else {
                load_nonBOMMaterialList();
        }
    }


   var id=@Session["lineId"];
    var inputPath="../Content/images/"+id+".jpg"
    var url = '@Url.Action("loadBase64Image", "Admin")';
    $.ajax({
    type: "POST",
    dataType: 'text',
    url: url,
    data: {inputPath},
    success: function (mapData) {

    if (mapData.length > 0) {
    document.getElementById('canvas1').style.background = "url(data:image/jpeg;base64," + mapData + ")";
    }
    else {
    document.getElementById('canvas1').style.background = "";
    }

    document.getElementById('canvas1').style.backgroundSize = "250px 750px";

    },
    error: function () {
    alert("Error");
    }
    });
  

    function  getMachineGroup(machine)
    { 
      if('@Session["department"]'=='MachineShop')
        { 
        var url = '@Url.Action("getMachine", "Supervisor")'
          
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: url,
            data: {machine},
            success: function (feedback) {
            
               document.getElementById("grouptext").value=feedback
             
            },
            error: function (feedback) {
                alert(feedback);
             }
          });
        }
    }

</script>

