
@{
    ViewBag.Title = "selectIssue";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
   

}
@using IssueManagementSystem.Models;
@model List<IssueManagementSystem.Models.issue_occurrence>

<link href="~/Content/SupervisorStyles/supervisorStyle.css" rel="stylesheet" />

<body>
    <div class="container-fluid" style="margin-top:5%;">
        <div class="row">
            <div class="col-md-6">
                <h2>Select Issue</h2>
                <div class="container">
                    <br>

                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger btn-lg btn-block btn-huge margin btn_bottom_margin " id="btn_MB" onclick="@("window.location.href='" + @Url.Action("MachinBreakdown", "Supervisor") + "'");">Machine Breakdown</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-lg btn-block btn-huge btn_bottom_margin " id="btn_TI" onclick="@("window.location.href='" + @Url.Action("TechnicalIssue", "Supervisor") + "'");">Technical Issue</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-warning btn-lg btn-block btn-huge margin btn_bottom_margin" id="btn_MD" onclick="@("window.location.href='" + @Url.Action("MaterialDelay", "Supervisor") + "'");">Material Delay</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary btn-lg btn-block btn-huge btn_bottom_margin" id="btn_IT" onclick="@("window.location.href='" + @Url.Action("TechnicalIssue", "Supervisor") + "'");">Software/IT Issue</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Issue List</h2>
                <div id="accordion" style="width:100%;margin-left:10%" class="pre-scrollable">
                    @foreach (var item in Model)
                    {
                    
                        if ((item.line_line_id == ViewBag.lineID)&&(item.issue_satus=="1"))
                        {
                        issue_management_systemEntities1 db = new issue_management_systemEntities1();
                        var IssueInfo = db.issues.Where(x => x.issue_id == item.issue_issue_ID).FirstOrDefault();
                 
                        <h3>@item.issue_occurrence_id</h3>
                        <div>
                            <p>Issue Type :@IssueInfo.issue1</p>
                            <p>Issue Info:@item.description</p>
                            <p>Issue Post Date:@item.date_time</p>
                            <button type="submit" class="btn btn-danger off" data-issue-occorid="@item.issue_occurrence_id" data-issueid="@item.issue_issue_ID">solved</button>
                        </div>

                        }
                    }

                </div>
            </div>
        </div>
    </div>

 


</body>

<link href="~/Content/SupervisorStyles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(function () {
        $("#accordion").accordion();
    });
 
    $(".off").click(function () {//listen to soloed problum button;
        var container = $(this).closest('div');
        var hedder = $(this).closest('div').prev("h3");
        var data = { Issueoccour_Id: $(this).data('issue-occorid'), Issue_Id: $(this).data('issueid') };
        var url = '@Url.Action("SolvedIssue", "Supervisor")?issueId=' + data.Issue_Id + '&issueOccourId=' + data.Issueoccour_Id;

        $.post(url, data, function (response) {
            if (response) {
                // fadeout, then remove
                console.log(data.Issueoccour_Id, data.Issue_Id)
                container.fadeOut(800, function () { $(this).remove(); })
                hedder.fadeOut(800, function () { $(this).remove(); })
            } else {
                console.log("display an error message");
            }
        }).fail(function () {
            console.log(" oops");
        });
    });


</script>

